// Color scheme -----------------------------------

@dbg: #212c2d; // Dark background
@dhl: #313c3d; // Dark highlight
@dt2: #716c4d; // Dark bg text secondary
@dt1: #88a99b; // Dark bg text primary

@lbg: #ebebe7; // Light background
@lhl: #dbdbd7; // Light highlight
@lt2: #7a9297; // Light bg text secondary
@lt1: #556d5c; // Light bg text primary

@red: #ba6f5b; // Red
@ora: #a2853a; // Orange
@yel: #93a34a; // Yellow
@gre: #3d9954; // Green

@cya: #38a997; // Cyan
@blu: #2a92a5; // Blue
@vio: #7a84ba; // Violet
@mag: #a77b9b; // Magenta

// Visual order -----------------------------------

@primary1: @gre;
@primary2: @cya;
@primary3: @ora;

@secondary1: @yel;
@secondary2: @vio;

@tertiary1: @blu;
@tertiary2: @red;
@tertiary3: @mag;

// Theme variant ----------------------------------

@text1: @dt1; // text primary
@text2: @dt2; // text secondary
@syntax-bg: @dbg; // background
@syntax-guide: @dhl; // background highlight

// Atom Base vars ---------------------------------

@syntax-fg: @text1; // text primary
@syntax-accent: @tertiary1; // cursor, markdown preview links, etc.
@syntax-selection: @syntax-guide;
@syntax-selection-gutter: @syntax-guide;
@syntax-cursor-line: fade(@syntax-selection, 26%); // needs to be semi-transparent to show serach results
